#top_menu {
  font-size:25px;
  margin:0;
}

#top_menu li {
  background: #fff;
  padding: 3px 8px;
  display: inline-block;
  color: #22F;
}

#top_menu a {text-decoration: none;}
#top_menu a:link {color:#22F;}
#top_menu a:visited {color:#22F;}
#top_menu a:hover {color:#22F;}
#top_menu a:active {color:#55F;}

#top_menu li.highlighted {
  background: #22F;
  padding: 3px 8px;
  display: inline-block;
  color: #FFF;
}

#top_menu .highlighted a {text-decoration: none;}
#top_menu .highlighted a:link {color:#FFF;}
#top_menu .highlighted a:visited {color:#FFF;}
#top_menu .highlighted a:hover {color:#FFF;}
#top_menu .highlighted a:active {color:#FFF;}

.content {
    width: 800px;
}

#content {
  background: #fff;
  padding: 3px 30px 3px 20px;
  color: #111;
  height: 100%;
  border-style:solid;
  border-color:#22f #22f;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*background: #fff url('https://lh5.googleusercontent.com/-U1A4mXD6CNA/UWra1fbTzTI/AAAAAAAApac/kObAj1T6u00/w1094-h685-no/DSC_0044-001.JPG') no-repeat;*/
}