#top_menu {
  font-size:25px;
}
#top_menu li {
  background: #fff;
  padding: 3px 8px;
  display: inline-block;
  color: #22f;
}
#top_menu a {
  text-decoration: none;
}
#content {
  background: #555;
  padding: 3px 30px 3px 20px;
  color: #fff;
}